/* ===========================global=========================== */
html,
body,
article {
	height: 100%;
}
body {
	background-color: #1f2228;
}
article,
section {
	visibility: hidden;
}
.title {
	font-size: 2.5em;
	color: #4d5157;
}
.remark {
	font-size: 1.2em;
	color: #808185;
}

/* ===========================spinner=========================== */
.page-loading {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	visibility: visible;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 9999;
	width: 100%;
}
.spinner {
	width: 229px;
	margin: 0 auto;
	height: 60px;
	text-align: center;
	font-size: 10px;
}
.spinner > div {
	background-color: #ffffff;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}
@keyframes stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

/* ===========================header=========================== */
#header {
	color: #ffffff;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 50px;
	width: 100%;
}
#header.scroll {
	position: fixed;
	background-color: #363635;
	top: 0px;
}
#header .title {
	line-height: 50px;
	color: #ffffff;
}
.headroom--top {
	background-color: none;
}

/* ===========================intro-page=========================== */
#intro-page {
	height: 100%;
	background-color: #1f2228;
	color: #ffffff;
}
#intro-content {
	position: absolute;
	bottom: 60px;
	width: 100%;
}
#intro-content .title {
	line-height: 100px;
	font-size: 2.5em;
	color: #ffffff;
}
#intro-page .slogan {
	font-size: 2em;
	margin-bottom: 30px;
	color: #ffffff;
}
#intro-content .remark {
	color: #ffffff;
}
#intro-slider,
#intro-slider .swipe-wrap,
#intro-slider .swipe-wrap .swipe-item {
	height: 100%;
}
#intro-slider .swipe-wrap .swipe-item img {
	width: 100%;
}
#intro-slider .swipe-wrap .swipe-item img.fixWidth {
	height: auto;
	width: 100%;
}
#intro-slider .swipe-wrap .swipe-item img.fixHeight {
	height: 100%;
	width: auto;
}
.slider-bullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 20px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: 8px;
	overflow: hidden;
}
.slider-bullets .slider-bullet {
	display: inline-block;
	padding: 6px 5px 6px;
}
.slider-bullets .slider-bullet span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #777;
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.slider-bullets .slider-bullet.selected span {
	background-color: #FFF;
	cursor: default;
}

/* ===========================swipe=========================== */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

/* ===========================framework-page=========================== */
#framework-page {
	background-color: #e5e9ea;
	padding-bottom: 190px;
}
#framework-page .title {
	margin-top: 190px;
}
#framework-page .remark {
	margin-top: 40px;
}
.lib-content {
	padding-top: 165px;
}
.lib-box {
	/*height: 195px;*/
	border: solid 1px #d8dbdc;
	background-color: #ffffff;
}
.lib-box .icon-box {
	text-align: center;
	margin: 10px;
	height: 140px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}
.lib-box .icon-box img {
	width: 90%;
}
.lib-box .message-box {
	padding-bottom: 10px;
}
.lib-box .message-box .name-box {
	margin-left: 10px;
}
.lib-box .message-box .gh-count {
	color: #bfc0c1;
}
.lib-box .message-box .gh-count iframe {
	border: none;
	width: 100%;
}
.green {
	background-color: #9aca40;
}